<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
 
    <style>
        body {
            position: relative;
        }
        .section {
            padding-top: 50px;
            height: 500px;
        }
    </style>
    <link href="/css/bootstrap.css" rel="stylesheet">
 
  </head>
 
  <body data-spy="scroll" data-target=".navbar" data-offset="-10">
 
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
     <a class="navbar-brand" href="#">EE 202A Inverted Pendulum</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
     </button>
     
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav mr-auto">
             <li class="nav-item">
                 <a class="nav-link" href="#Objectives">Objectives</a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" href="#People">People</a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" href="#Progress">Progress</a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" href="#PhotosVideos">Photos and Videos</a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" href="#Literature">Prior Literature</a>
             </li>
         </ul>
     </div>
    </nav>
        
    <div class="container-fluid">
